@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --branco: #ffffff;
  --preto: #0b1d03;
  --bege-claro: #fffcf6;
  --dourado: #a0996c;
  --cinza: #969696;
  --bege-claro-card-bg: #f7f1e6;
  --preto-escuro: #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--preto);
  background-color: var(--bege-claro);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 1600px;
  height: 900px;
  background: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.5),
      rgba(31, 31, 31, 0.5)
    ),
    url(./assets/banner/banner-bg.png);
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
}

header {
  padding: 32px 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burguer-menu {
  width: 28px;
  height: 28px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}

.header-shopping-cart {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  cursor: pointer;
}

.header-logo {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: var(--bege-claro);
}

.banner-elements {
  height: 548px;
  padding: 0 80px 0 80px;
  margin-top: 100px;
}

.banner-sliders {
  display: flex;
  padding: 0 0 40px;
  gap: 8px;
}

.banner-sliders-item {
  width: 32px;
  height: 4px;
  background: var(--branco);
  opacity: 0.5;
  border-radius: 10px;
}

.active {
  opacity: 1;
}

.banner-title {
  width: 704px;
  height: 328px;
  margin-bottom: 120px;
}

.banner-title h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: var(--branco);
  margin-bottom: 40px;
}

.banner-title p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: var(--branco);
}

.banner-arrows {
  width: 76px;
  height: 56px;
  display: flex;
  gap: 20px;
}

.banner-arrows button {
  width: 56px;
  height: 56px;
  background: none;
  border: 1px solid var(--branco);
  border-radius: 50%;
  padding: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-arrows img {
  height: 16px;
  width: 8px;
}

.highlights {
  width: 1600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 144px;
}

.highlights-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 560px;
  gap: 155px;
  padding: 118px 80px 0;
}

.highlights-card-title {
  width: 581px;
}

.highlights-card h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--preto);
}

.highlights-card p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.varieties {
  width: 1600px;
  height: 1276px;
}

.varieties h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--dourado);
  margin-bottom: 64px;
  padding: 0 80px;
}

.variety-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 80px;
}

.variety-cards-top-row,
.variety-cards-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.variety-cards-box {
  background: var(--bege-claro-card-bg);
  width: 459px;
  height: 560px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 32px;
}

.varieties h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--preto);
}

.varieties p strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: var(--preto);
}

.variety-cards p {
  color: var(--cinza);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: var(--preto);
  width: 164px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.variety-cards img {
  width: 172px;
  height: 216px;
}

.variety-cards button {
  width: 395px;
  height: 76px;
  border-radius: 4px;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  color: var(--branco);
  background-color: var(--preto);
  cursor: pointer;
}

.mid-section {
  width: 1600px;
}

.benefits-top-row {
  display: flex;
  padding: 80px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-card {
  width: 262px;
  height: 120px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-card p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.benefits-card img {
  height: 40px;
  width: 66px;
  margin-bottom: 24px;
}

.benefits-bottom-row {
  padding: 0 80px 80px;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.benefits-catalog {
  width: 704px;
  height: 560px;
  background-image: url(./assets/coffee/highlights-3.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits-catalog-title {
  width: 451px;
  height: 132px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 348px;
}

.benefits-catalog h2 {
  color: var(--branco);
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.benefits-catalog p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: var(--branco);
}

.benefits-accessories {
  width: 704px;
  height: 560px;
  background-image: url(./assets/coffee/highlights-4.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits-accessories-title {
  width: 451px;
  height: 132px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 348px;
}

.benefits-accessories h2 {
  color: var(--branco);
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.benefits-accessories p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: var(--branco);
}

.find-store {
  width: 1600px;
  height: 800px;
  background-color: pink;
}

.find-store-search {
}
