:root {
  --branco: #ffffff;
  --preto: #0b1d03;
  --bege: #fffcf6;
  --dourado: #a0996c;
  --dourado-card-bg: #f7f1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--preto);
  background: var(--bege);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-image: url(./assets/banner/banner-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 1600px;
  height: 900px;
}

header {
  width: 1600px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burguer-menu {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 32px 80px;
}

.burguer-menu-item {
  width: 20px;
  height: 2px;
  background-color: var(--branco);
}

.banner-carrinho-btn {
  margin: 32px 80px;
  display: flex;
  align-items: center;
}

.banner-logo {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: var(--branco);
}

.banner-elements {
  margin: 80px;
  margin-top: 188px;
}

.banner-sliders {
  width: 112px;
  height: 4px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.banner-sliders-item__active {
  width: 32px;
  height: 4px;
  background: #ffffff;
  border-radius: 10px;
}

.banner-sliders-item {
  width: 32px;
  height: 4px;
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.5;
}

.banner-title h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  color: var(--branco);
  width: 704px;
  height: 264px;
  margin-bottom: 24px;
}

.banner-title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: var(--branco);
  margin-bottom: 120px;
}

.banner-arrows {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 104px;
}

.banner-arrows__left,
.banner-arrows__right {
  width: 56px;
  height: 56px;
  border: 1px solid var(--branco);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-arrows img {
  width: 8px;
  height: 16px;
}

/* fim da banner */

.highlights {
  width: 1600px;
  height: 1264px;
  padding-top: 118px;
  display: flex;
  flex-direction: column;
  gap: 144px;
  margin-bottom: 184px;
}

.highlights__item {
  margin: 0 80px;
  display: flex;
  gap: 155px;
}

.highlights__item h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--preto);
  margin-bottom: 32px;
}

.highlights__item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: var(--preto);
}

.highlights__item img {
  width: 704px;
  height: 560px;
}

/* fim highlights */

.varieties {
  width: 1600px;
  height: 1276px;
}

.variety-cards {
  margin: 0 80px;
}

.variety-cards-top {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

.variety-cards-bottom {
  display: flex;
  gap: 32px;
}

.variety-cards h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: var(--dourado);
  margin-bottom: 64px;
}

.variety-cards__item {
  width: 459px;
  height: 560px;
  padding: 40px;
  background-color: var(--dourado-card-bg);
  border-radius: 8px;
  text-align: center;
}

.variety-cards__item img {
  width: 172px;
  height: 216px;
  margin-bottom: 32px;
}

.variety-cards__item h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 48px;
}

.variety-cards__item p strong {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.variety-cards__item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 52px;
}
